@charset 'UTF-8';

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom, aliceblue, rgb(225, 225, 255));
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.185);
}

#informacoes-pessoais {
    display: flex;
    gap: 20px;
}

#explicacao, #input-explicacao, .indicador, .input-indicador {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contatos {
    margin-top: 10px;
}

#contatos-email {
    margin-top: -8px;
}

#resumo {
    text-align: center;
}

textarea {
    width: 300px;
    height: 100px;
}

.experiencia, .formacao {
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 340px;
    text-align: justify;
}

.experiencia-profissionais {
    display: flex;
    gap: 20px;
}

.textarea-informacoes-adicionais {
    width: 300px;
    height: 50px;
}

#gerar-curriculo {
    width: 330px;
    height: 40px;
    border: none;
    background-color: white;
    margin-top: 20px;
}

#gerar-curriculo:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}
